/* Style all elements, universal selector */

* {
    /*the padding and border of the element are included in the width and height*/
    box-sizing: border-box;
    /*Applies the padding 0 to all four sides*/
    padding: 0;
    /*Applies margin 0 to all four sides*/
    margin: 0;
}

/*Style of Links*/

a {
    /* Uses hex codes to define color */
    color: #ffffff;
    /* the link will not have a decorative line*/
    text-decoration: none;
}

/*Style of paragraphs*/

p {
    /* Sets font size of every paragraph */
    font-size: 16px;
}

/*Style body*/

body {
    /* Sets the background color */
    background-color: #d9dcd6;
}



/*Style of the header*/

header {
    /* Sets the padding of the header to all four sides*/
    padding: 20px;
    /* Font-family property specifies a list of fonts to be used in order of priority in the header*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* Sets the background color of the header*/
    background-color: #2a607c;
    color: #ffffff;
}

/*Style the h1 on the header*/
header h1 {
    /*Sets the heading 1 in the header to be in the same line*/
    display: inline-block;
    /* Sets font size */
    font-size: 48px;
}

header h1 .seo {
    /* Sets font color */
    color: #d9dcd6;
}

/*Style of the navigation bar*/

nav {
    /* Sets the padding-top of the navigation bar to 15px*/
    padding-top: 15px;
     /* Sets the margin right of the navigation bar to 20px*/
    margin-right: 20px;
    /*Set that the navigation bar floats to the right of the header*/
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*The elements in list inside the navigation bar will not have any marker*/
nav ul {
    list-style-type: none;
}
/*Style tje of the navigation bar*/
nav ul li {
    /*Set the links on the navigayion bar to be in the same line */
    display: inline-block;
    /* Sets the margin left of each link of the navigation bar */
    margin-left: 25px;
}


/*Style of main image, I changed the class to be an ID because style only one element */
#meeting {
    /*Sets the height and width of the section */
    height: 800px;
    width: 100%;
    /*Sets the margin at the bottom of the image */
    margin-bottom: 25px;
    /*Sets the background position of the image */
    background-position: center;
}

/*The elements with this class will be positioned on the left side of its container with a right margin of 15px */

.float-left {
    /*Places the element on the left of its container */
    float: left;
    margin-right: 25px;
}

/*The elements with this class will be positioned on the left side of its container with a right margin of 15px */

.float-right {
    /*Places the element on the right of its container */
    float: right;
    margin-left: 25px;
}

/*Style of class content*/

.content {
    /*Sets the width of the content to be 75% of its container */
    width: 75%;
    /*Sets the element to be in the same line with the with specified above */
    display: inline-block;
    /*Sets margin left of the element with class content */
    margin-left: 20px;
}

/*Style of css classes :"search-engine-optimization", "online-reputation-management" and "social-media-marketing" */

.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Style images inside the css classes : "search-engine-optimization", "online-reputation-management" and "social-media-marketing" */
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 200px;
}

/*Style headings #2 inside the css classes : "search-engine-optimization", "online-reputation-management" and "social-media-marketing" */
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2{
    margin-bottom: 20px;
    font-size: 36px;
}

/*Style of the elementes with the class benefits */
.benefits {
    /*Set the margin on the right of the side bar */
    margin-right: 20px;
    padding: 20px;
    clear: both;
    /*Places side bar on the left it container*/
    float: right;
    /*Set the with of the side bar to ocuppied only the 20% of its container's width*/
    width: 20%;
    /*Set the height of the side bar to ocuppied the 20% of its container's height */
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Style the element with the classes: benefit-lead, benefit-brand, benefit-cost */
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/*Style heading 3 inside the elements with the classes: benefit-lead, benefit-brand, benefit-cost  */
.benefit-lead h3,.benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    /* Sets heaging 3 to be align to the center */
    text-align: center;
}
/*Style images inside the the elements with the classes: benefit-lead, benefit-brand, benefit-cost  */
.benefit-lead img, .benefit-brand img, .benefit-cost img{
    /*Set the image to start in a new line and take all the width of the <div> element*/
    display: block;
    /* Sets top and bottom margin to 10px. Center the image inside de div */
    margin: 10px auto;
    /* Sets the maximun width of the image to be 150px */
    max-width: 150px;
}

/*Style of the footer*/

footer {
    /* Set the padding of the footer to be 30px" */
    padding: 30px;
    /* The footer is not pushed below left or right floated elements. This is default */
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*The text in the footer is align to the center*/
    text-align: center;
}

/*Style the heading 4 of the footer */

footer h4 {
    font-size: 20px;
}
